aiohttp==3.4.4
async-timeout==3.0.1
asynctest==0.12.2
atomicwrites==1.2.1
attrs==18.2.0
beautifulsoup4==4.6.3
bs4==0.0.1
certifi==2018.10.15
chardet==3.0.4
GeoAlchemy2==0.5.0
idna==2.7
more-itertools==4.3.0
multidict==4.4.2
pluggy==0.8.0
psycopg2-binary==2.7.5
py==1.7.0
pytest==3.9.3
requests==2.20.0
six==1.11.0
SQLAlchemy==1.2.12
SQLAlchemy-Utils==0.33.6
urllib3==1.24
yarl==1.2.6
