aiohttp==3.1.2
async-timeout==2.0.1
attrs==17.4.0
beautifulsoup4==4.6.0
chardet==3.0.4
datapunt-objectstore==2018.7.26
GeoAlchemy2==0.4.2
idna==2.6
idna-ssl==1.0.1
multidict==4.1.0
psycopg2-binary==2.7.4
python-dateutil==2.7.2
six==1.11.0
SQLAlchemy==1.2.6
SQLAlchemy-Utils==0.33.2
yarl==1.1.1
async-timeout==2.0.1
asyncpg==0.15.0
asynctest==0.12.0
pytest==3.5.0
dateparser==0.7.0
